.ay
{
   
    background:url('istockphoto-1184240863-612x612.jpg') ;
    background-repeat:no-repeat ;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.i{
   color:white;
}